td{
	text-align: left;
	padding: .2em .4em;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
body{
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.titleLeft{
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 250%;
	font-weight: normal;
	margin: 10px 0 20px;
	padding: 0;
	color: #111;
}
.centered{
	text-align: center;
}
.supportMaterialsTable{
	margin: .5em 0 1em;
	border-bottom: 3px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	margin: 0px;
}
.bookTitle{
	font-style:italic;
	font-weight:bold;
}
.preparednessCells{
	color: white; 
	background-color: #646464;
}

#thinkList{
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 125%;
	font-weight:bold;
}
#tagLine{
	color: rgb(255, 255, 255);
	display: block;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 20px;
	text-shadow: rgb(34, 34, 34) 0px -1px 1px;
	background-color: rgb(200,200,200);
	background: black;
}
#className{
	text-align:center; 
	background: linear-gradient(grey,black);
}

#barneyWrap { 
	position: fixed;
	top:0px;
	left:0px;
	bottom: 0px;
	width:100%; 
	margin:0 auto; 
	border:3px solid grey; 
	overflow-y: scroll;
}
#barneyHeader {
	background-color: black;
	color: rgb(255, 255, 255);
	font-size:50px; 
}
#barneyBody { 
	overflow-y: scroll;
}
#barneySidebar { 
	position: fixed; 
	width:15%;  
	height:100%;
	color:white;
	background-color: black;
	background: linear-gradient(black,grey);
}
#barneyMain{
	position: relative;
	width: 100%;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	padding-left: 10px;
	overflow-y: scroll;
}
#scrollContainer{
	right:0px;
	width:85%;
	padding-left: 5px;
	padding-right: 5px;
}