footer{
	font-size: 6px;
	padding-top: 30px;
}
td{
	text-align: left;
	padding: .2em .4em;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
body{
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}
figcaption{
	font-size: x-small;
}
.course_map_header{
  font-weight: bold;
  font-size: 32px;
  color:rgb(42,56,88);
  background: linear-gradient(to bottom, rgb(68, 119, 198) 0%,#3f4c6b 100%);
}
.activity_table{
	margin-right:30px;
    border-collapse: collapse;
    border: none;
}
.activity_table_header{
  color:white;
  font-weight: bold;
  background: linear-gradient(to bottom, rgb(182,202,227) 0%,rgb(61,98,143) 100%);
}
.activity_table td{
    border-collapse: collapse;
    border: 1px solid black;
}
.invisible{
	visibility: hidden;
}
.activity_table_footer{
  font-weight: bold;
}
.student_hours{
  background: linear-gradient(to bottom, rgb(215,226,240) 0%,rgb(151,180,215) 100%);
}
.instructor_hours{
  background: linear-gradient(to bottom, rgb(215,226,240) 0%,rgb(151,180,215) 100%);
}
.activity_table_footer_cell{
  background: linear-gradient(to bottom, rgb(215,226,240) 0%,rgb(151,180,215) 100%);
}
.course_map{
	padding-left:10px;
	font-size:13px;
}
.borderlessTable{
	border:none;
}
.bold{
	font-weight:bold;
}
.borderlessTable td{
	border:none;
}

.titleLeft{
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 250%;
	font-weight: normal;
	margin: 10px 0 20px;
	padding: 0;
	color: #111;
}
.centered{
	text-align: center;
}
.supportMaterialsTable{
	margin: .5em 0 1em;
	border-bottom: 3px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	margin: 0px;
}
.bookTitle{
	font-style:italic;
	font-weight:bold;
}
.preparednessCells{
	color: white; 
	background-color: #646464;
}

#thinkList{
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 125%;
	font-weight:bold;
}
#tagLine{
	color: rgb(255, 255, 255);
	display: block;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 0px;
	padding-top: 20px;
	text-shadow: rgb(34, 34, 34) 0px -1px 1px;
	background-color: rgb(200,200,200);
	background: black;
}
#className{
	text-align:center; 
	height:60px;
	background: linear-gradient(grey,black);
}

#barneyWrap { 
	position: fixed;
	top:0px;
	left:0px;
	bottom: 0px;
	width:100%; 
	margin:0 auto; 
	border:3px solid grey; 
	overflow-y: scroll;
}
#barneyHeader {
	position:fixed;
	top:0px;
	left:0px;
	right: 0px;
	background-color: black;
	color: rgb(255, 255, 255);
	font-size:50px; 
	z-index: 1;
}
#barneyBody { 
	position:relative;
	top:90px; 
}
#barneySidebar { 
	position: fixed;
	top:95px; 
	width:15%;  
	height:100%;
	color:white;
	z-index: 1;
	background-color: black;
	background: linear-gradient(black,grey);
}
#barneySidebar table{
	width: 100%;
}
#barneySidebar td{
	border: black;
	text-align: center;
}
#barneyMain{
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	padding-left: 10px;
	padding-right:10px;
}
#scrollContainer{
	position: relative;
	left:15%;
	right:0px;
	width:83%;
	padding:10px;
	z-index: 0;
}